<!-- Admin Header -->
<header class="site-header">
  <div class="container header-container">
    <a routerLink="/" class="logo">
      <div class="logo-icon-wrapper">
        <img src="assets/images/Logo.png" alt="BurGur Logo" class="logo-icon">
      </div>
      <span class="logo-text">BURGUR</span>
    </a>

    <nav class="main-nav">
      <ul>
        <li><a routerLink="/admin" routerLinkActive="admin-nav" [routerLinkActiveOptions]="{exact: true}">Dashboard</a></li>
        <li><a routerLink="/admin/productos" routerLinkActive="admin-nav">Productos</a></li>
        <li><a routerLink="/admin/adicionales" routerLinkActive="admin-nav">Adicionales</a></li>
        <li><a routerLink="/admin/clientes" routerLinkActive="admin-nav">Clientes</a></li>
        <li><a routerLink="/admin/domiciliarios" routerLinkActive="admin-nav">Domiciliarios</a></li>
        <li><a routerLink="/admin/operadores" routerLinkActive="admin-nav">Operadores</a></li>
        <li><a routerLink="/admin/pedidos" routerLinkActive="admin-nav">Pedidos</a></li>
      </ul>
    </nav>
  </div>
</header>