<!-- Operator Navbar -->
<header class="site-header">
  <div class="container header-container">
    <a class="logo">
      <div class="logo-icon-wrapper">
        <img src="assets/images/Logo.png" alt="BurGur Logo" class="logo-icon">
      </div>
      <span class="logo-text">BURGUR</span>
    </a>

    <nav class="main-nav">
      <ul>
        <li><a  class="operator-nav">Pedidos</a></li>
        <li><a (click)="logout()" class="logout-btn">Cerrar Sesión</a></li>
      </ul>
    </nav>
  </div>
</header>

